packs/ephemera/000013.log
packs/ephemera/000021.log
packs/ephemera/CURRENT
packs/ephemera/LOG
packs/ephemera/LOG.old
packs/ephemera/MANIFEST-000012
packs/ephemera/MANIFEST-000020
packs/objects-of-power/000005.ldb
packs/objects-of-power/000006.log
packs/objects-of-power/000013.ldb
packs/objects-of-power/000015.log
packs/objects-of-power/CURRENT
packs/objects-of-power/LOG
packs/objects-of-power/LOG.old
packs/objects-of-power/MANIFEST-000004
packs/objects-of-power/MANIFEST-000014
packs/the-endless-grimoire/000041.log
packs/the-endless-grimoire/000049.log
packs/the-endless-grimoire/CURRENT
packs/the-endless-grimoire/LOG
packs/the-endless-grimoire/LOG.old
packs/the-endless-grimoire/MANIFEST-000040
packs/the-endless-grimoire/MANIFEST-000048
packs/vance-spells/000031.log
packs/vance-spells/000039.log
packs/vance-spells/CURRENT
packs/vance-spells/LOG
packs/vance-spells/LOG.old
packs/vance-spells/MANIFEST-000030
packs/vance-spells/MANIFEST-000038
